sudo: false

language: node_js
node_js:
  - "0.12"
  - "iojs-v1"
  - "iojs-v2"
  - "iojs-v3"
  - "4"
  - "5"
  - "6"

before_script:
  - node --version
  - npm --version
  - npm install -g gulp

script:
  - npm test

after_script:
  - gulp coveralls

matrix:
  fast_finish: true
