sudo: false

language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "iojs-v1"
  - "iojs-v2"
  - "iojs-v3"

before_script:
  - node --version
  - npm --version

script:
  - npm test

after_script:
  - npm run cover

matrix:
  fast_finish: true
