version: "{build}"

environment:
  matrix:
    - nodejs_version: "0.12"
    - nodejs_version: "1"
    - nodejs_version: "2"
    - nodejs_version: "3"
    - nodejs_version: "4"
    - nodejs_version: "5"
    - nodejs_version: "6"

install:
  - ps: Install-Product node $env:nodejs_version
  - node --version
  - npm --version
  - npm install

test_script:
  - npm test

shallow_clone: true
clone_depth: 1

cache:
  - node_modules -> package.json

build: off

matrix:
  fast_finish: true
