// lesshint-disable-next-line spaceBeforeBrace
.foo{
    color: red;
}

.bar{
    color:blue; // lesshint-disable-line spaceAfterPropertyColon
    margin-left:10px;
}

.baz {
    color: #FFF; // lesshint-disable-line hexLength, hexNotation
}
