.foo{ // lesshint spaceBeforeBrace: false
    color: red;
}

.bar{
    color:blue; // lesshint spaceAfterPropertyColon: false
}

.baz {
    color: #FFF; // lesshint hexLength: false, hexNotation: false
}
